.banner-card{
    display: flex;
    gap: 15px;
    height: 327px;
}
.primary-txt{
    color: #1677ff;
    margin-top: 35px;
    font-weight: 900;
}
.card{
    width: 50%;
    border: none;
    border-radius: 12px;
    /* height: 365px; */
    /* background: #dab4b4; */
    overflow: hidden;
    position: relative;
}
.img-res{
    width: 100%;
  height: 100%;  
  object-fit: cover;
  object-position: center; 
}
.overlay{
  position: absolute; 
  top: 0;
  left: 0;
  width: 95%;
  height: 94%;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 25px;
 border-radius: 12px;
 display: flex;
 justify-content: flex-start;
}
.text-container{
    padding: 20px;
    width: 60%;
}
.new-season-desc{
    color: #bbbaba;
}
.banner-txt-container{
    position: absolute;
    left: -40px;
    bottom: 40px;
}
.bold-heading{
    font-weight: 900;
    color: #fff;
    font-size: 33px;
    margin-bottom: 15px;
}
.btn-text{
    margin-top: 25px;
    font-weight: 700;
}
.cards-container{
    width: 50%;
    flex: 1;
    display: flex;
    gap: 15px;
}
.card-a{
    height: 100%;
    width: 50%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.card-a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-card-txt{
    color: #fff;
    /* position: absolute; */
    bottom: 20%;
    margin-left: 58px;
    font-weight: 800;
    margin-bottom: 6px;
}
.banner-card-desc{
    color: #dadada;
    /* position: absolute; */
    bottom: 15%;
    margin-left: 58px;
}
@media (max-width: 992px) {
    .banner-card{
        flex-direction: column;
        height: 650px;
    }
    .card{
        width: 100%;
        height: 45%;
    }
    .text-container{
        /* width: 100%  ; */
    }
        .overlay{
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .banner-txt-container {
            position: absolute;
            left: -40px;
            bottom: 20px;
        }

        .bold-heading{
            margin-top: 4px;
        }
        .btn-text{
            margin-top: 40px;
        }
        .new-season-desc{
            margin: 0;
        }
        .cards-container{
            width: 100%;
        }
}