.category-wrapper {
  padding: 20px 0;
  /* text-align: center; */
  background: #f9fafb;
  margin-top: 35px;
  border-radius: 12px;
}

.category-title {
  font-size: 22px;
  font-weight: 800;
  color: #222;
  margin-bottom: 35px;
  margin-left: 35px;
}

.categories-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  /* max-width: 1100px; */
  margin: 0 auto;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #eef1f4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
}

.circle:hover {
  transform: scale(1.12);
  background: #e2e6ea;
}

.category-icon {
  width: 28px;
  height: 28px;
}


.category-name {
  margin-top: 12px;
  font-size: 15px;
  color: #121111;
  font-weight: 500;
  text-transform: capitalize;
}

.loading-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:768px){
    .categories-grid{
        gap: 50px;
    }
}