.card2{
    width: 350px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px 6px rgba(97, 97, 97, 0.08);
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
    overflow: hidden;
    background: #fff;
    border: 1px solid #dedcdcd8;
}
.card2>.img-res{
    width: 100%;
    height: 50%;
    object-fit: contain;
}
.item-detail{
    padding: 5px 16px;
}
.cart-btn{
    margin-top: 10px;
}
.item-desc2{
    margin-top: 0;
    color: #666;
    margin-bottom: 12px;
    -webkit-line-clamp: 2; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 34px;
}
.item-name{
    width: 325px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 12px;
}
.item-price{
    color: #1677ff;
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 5px;
}
@media (max-width: 992px) {
    
    .card2{
        width: 320px;
    }
}
@media (max-width: 576px) {
    .item-name{
        width: 270px;
    }
}