/* ---------------------- LOADER ---------------------- */

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f6fa;
  animation: fadeIn 0.5s ease;
}

.spinner {
  font-size: 50px;
  color: #1677ff;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
  font-weight: 500;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


.order-confirm-wrapper {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: #f5f6fa;
    min-height: 70vh;
}

.fade-in {
  animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.order-confirm-card {
  width: 100%;
  max-width: 650px;
  background: white;
  border-radius: 14px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  animation: slideUp 0.5s ease;
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.success-icon {
  font-size: 55px;
  color: #24c55d;
  animation: popIn 0.4s ease;
}

@keyframes popIn {
  0% { transform: scale(0.3); opacity: 0; }
  70% { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); }
}

.order-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.order-subtext {
  color: #6c7583;
  font-size: 15px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 25px;
  line-height: 1.5;
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 20px 0;
}

.order-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.label {
  color: #8c8c8c;
  font-size: 14px;
}

.value {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}


.btn-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.track-btn {
  padding: 12px 28px;
  background: #1677ff;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.track-btn:hover {
  background: #0e63d8;
}

.details-btn {
  padding: 12px 28px;
  background: #f0f2f5;
  border: none;
  color: #333;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.details-btn:hover {
  background: #e3e5e9;
}

.continue-link {
  margin-top: 25px;
  background: none;
  border: none;
  color: #1677ff;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.continue-link:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .order-title {
    font-size: 24px;
  }

  .success-icon {
    font-size: 45px;
  }

  .order-confirm-card {
    padding: 30px 20px;
  }

  .track-btn, .details-btn {
    width: 100%;
  }
}
