.item-page-container {
  padding: 1rem 1.5rem;
  background-color: #fff;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.item-page-title {
  margin-bottom: 1.5rem !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  color: #222;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

