.ant-image-preview-wrap{
    backdrop-filter: blur(15px);
    border-radius: 16px;

}
.strikedPice{
    font-size: 1.6rem;
}
.price{
    font-size: 2.5rem;
    margin: 0;
}
.ant-badge-count{
  color: rgb(255, 11, 3) !important;
  background: rgb(241, 202, 203) !important;
  font-weight: 600 !important;
  border-radius: 50%;
}

.product-details-container {
  padding: 2rem;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-image{
    border: 1px solid #dadada;
    border-radius: 12px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  max-width: 1200px;
  /* width: 100%; */
  padding-bottom: 0;
}

.product-left {
  flex: 1;
  min-width: 300px;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.thumbnail-img {
  width: 90px !important;
  height: 90px !important;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: border 0.2s ease;
}

.thumbnail-img .ant-image-img {
  width: 90px !important;
  height: 90px !important;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnail-img:hover {
  border: 2px solid #1677ff;
}


.product-right {
  flex: 1;
  min-width: 300px;
}

.product-title {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.rating-section {

  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2.6rem;
}

.rating-text {
  color: #777;
  font-size: 0.95rem;
}


.product-description {
  color: #555;
  font-size: 1.05rem;
  margin-bottom: 2.5rem;
}


.price-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #dadada;
}

.price {
  font-size: 2rem;
  color: #1677ff;
  font-weight: 700;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 1rem;
}

.quantity-section {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  margin: 1.5rem 0;
  font-weight: 600;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.btn-long{
  width: 32rem !important;
}

.tabs-section {
  /* margin-top: 3rem; */
  max-width: 1200px;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  padding-top: 0;
}

.tab-content {
  font-size: 1.05rem;
  color: #444;
  line-height: 1.7;
}

.spec-list {
  list-style: none;
  padding: 0;
  font-size: 1.05rem;
  color: #555;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.no-product {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.review-card {
  padding: 16px;
  border: 1px solid #e6e6e6;
  background: #fafafa;
  border-radius: 8px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.review-comment {
  color: #555;
  margin: 4px 0;
}

.review-date {
  font-size: 12px;
  color: gray;
}
.bold{
  font-weight: bolder;
}

@media (max-width: 768px) {
  .product-card {
    flex-direction: column;
    padding: 2rem;
  }
  .btn-long{
    width: 40rem !important;
  }
  .autoComplete{
    width: 251px;
  }
  .tabs-section{
    padding-top: 2rem;
  }
  .product-title {
    font-size: 1.8rem;
  }
  .price {
    font-size: 1.6rem;
  }

  .thumbnail-img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .product-details-container {
    padding: 1rem;
  }
  .btn-long{
    width: 16rem !important;
  }
  .tabs-section{
    padding-top: 2rem;
  }
  .product-card {
    padding: 2rem;
  }
.autoComplete {
        width: 175px;
    }
  .product-title {
    font-size: 1.6rem;
  }

  .price {
    font-size: 1.4rem;
  }

  .tabs-section {
    padding: 1rem;
  }
}
