.footer {
  display: flex;
  border-top: 1px solid #d7d7d7c1;
  gap: 25px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #fff;
  /* margin-top: 50px; */
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.row > span {
  font-size: 24px;
  font-weight: 800;
}

.col > .row > img {
  width: 60px;
}

.brandLine > span {
  color: #b8b7b7;
  justify-content: center;
  margin-left: 30px;
}

.col {
  flex: 1;
  min-width: 180px;
  margin: 10px 0;
}

.col li {
  color: #7b7b7b;
  list-style: none;
  margin: 16px 0;
  cursor: pointer;
}

.col h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.email-input {
  margin-right: 10px;
}

.bottom-footer {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #dadada8c;
  font-weight: 500;
  font-size: 15px;
}

@media (max-width: 992px) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: auto;
  }

  .col {
    min-width: 200px;
    text-align: center;
  }

  .col ul {
    padding: 0;
  }

  .brandLine > span {
    margin-left: 0;
  }

  .row {
    justify-content: center;
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
  }
  .email-input{
    margin: 0 5px 0 0;
  }

  .col {
    width: 100%;
    text-align: center;
  }

  .col h3 {
    font-size: 16px;
  }

  .col li {
    font-size: 14px;
  }

  .brandLine > span {
    font-size: 14px;
  }

  .bottom-footer {
    font-size: 13px;
  }

  .row > span {
    font-size: 20px;
  }
}
